
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overscroll-behavior-y: none;
}

html {
  text-size-adjust: 100%;
  background-color: white;
}

body {
  background-color: white;
  overflow: hidden;
}

#mount {
  height: 100%;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  overscroll-behavior-y: none;
}

.app {
  min-height: 100%;
}
